
    /* pink       purple        blue */
/* #ef32d9b2, #c471ed, rgb(38, 64, 179) */




.card {
    border-radius: 60px;
    position: relative;
    background-color: #fff;
    width: 600px;
    padding: 20px;
    max-width: 80vw;
    height: 58vh;
    box-shadow: #fd3be649 5px 5px, #c471ed3d 10px 10px, #12c2e94d 15px 15px, rgba(38, 64, 179, 0.089) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border: 1px solid rgba(0, 0, 0, 0.445);
    
}






.dog-cards-container {
    display: flex;
    justify-content: center;
    margin-top:  2vh;
}


.swipe {
    position: absolute;
}

.card h3 {
    position: absolute;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    bottom: 0;
    margin: 10px;
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    -webkit-text-stroke: .5px black;
}

.card h3:nth-child(1) {
    left: 0;
    font-size: 27px;
}

.card h3:nth-child(2) {
    position: absolute;
    bottom: 0;
    right: 20px;
    color: #fff;
    font-size: 27px;
    font-weight: bold;
    /* -webkit-text-stroke: 1px black; */
}

.card h3:nth-child(3) {
    position: absolute;
    top: -10px;
    right: -5px;
    color: #fff;
    font-size: 27px;
    font-weight: bold;
    /* -webkit-text-stroke: 1px black; */
}

.dog-cards {
    height: 100%;
    width: 100%;
}

