
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    border-bottom: 1px solid lightgray;
    background: #E0EAFC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #CFDEF3, #E0EAFC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #cfdef34b, #e0eafc3b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.logo {
    font-family: 'Zen', cursive ;
    font-size: 55px;
    background: #ef32d9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #89fffd, #ef32d9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #89fffd65, #ef32d954); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: .7px black;
}

.pets-icon {
    font-size: 45px !important;
    
    -webkit-text-stroke: 1px black;
}

/* .header-icon {
    color: #89fffd9d;
}

.bookmark-icon {
    color: #ef32d954;
} */