.swipe-buttons {
    position: fixed;
    bottom: 2vh;
    left: 0vw;
    display: flex;
    width: 100%;
    padding-top: 20px;
    align-items: center;
    margin-left: -50px;
    margin: 0 auto;
    justify-content: space-evenly;
}


.swipe-buttons .MuiIconButton-root {
    background-color: white;
    box-shadow: 0px 10px 53px 0px rgba(0, 0, 0, 0.3) !important;
}

.thumbs-up {
    
    color:  #ef32d9;
}

.thumbs-down {
    color: rgb(38, 64, 179);
}


.tooltip {
    position: relative;
    display: inline-block;
    
  }
  
  /* Tooltip text */
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 180px;
    color: rgb(77, 65, 240);
    text-align: center;
    padding: 2px 0;
    border-radius: 6px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    font-weight: bold;
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -90px;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }



  .tooltip2 {
    position: relative;
    display: inline-block;
    
  }
  
  /* Tooltip text */
  .tooltip2 .tooltiptext2 {
    visibility: hidden;
    width: 180px;
    color: #ef32d9;
    font-weight: bold;
    text-align: center;
    padding: 2px 0;
    border-radius: 6px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -90px;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip2:hover .tooltiptext2 {
    visibility: visible;
  }



  




