.swipe-buttons {
    position: absolute;
    bottom: -15vh;
    left: 0vw;
    display: flex;
    width: 100%;
    padding-top: 20px;
    align-items: center;
    margin-left: -50px;
    margin: 0 auto;
    justify-content: space-evenly;
}




.pIcon {
  position: relative;
  bottom: -5px;
  left: -5px;
}

.pIcon2 {
  position: relative;
  left: -20px;
  bottom: -15px;

}

.likeB {
  position: relative;
  top: -15px;
  left: 10px;
}


.swipe-buttons .MuiButton-root {
    cursor: pointer;
    background-color: white;
    height: 55px;
    width: 100px;
    font-family: 'Poiret One', cursive;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.2;
    border-start-start-radius: 15px;
    border-end-end-radius: 15px;
    border: 1px solid rgba(0, 0, 0, 0.185);
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px !important;
}




.page {
    background-color: white;
    height: 55px;
    width: 100px;
    display: block;
    font-family: 'Poiret One', cursive;
    font-size: 22px;
    font-weight: bold;
    line-height: 1.2;
    border-start-start-radius: 15px;
    border-end-end-radius: 15px;
    border: 1px solid rgba(0, 0, 0, 0.185);
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px !important;
}


.page :hover {
  color: rgb(130, 180, 255); 
}

.inButtons:hover {
  transition: all 0.2s ease-in;
  overflow: hidden;
}


.fav {
    cursor: pointer;
    background-color: white;
    height: 55px;
    width: 100px;
    font-family: 'Poiret One', cursive;
    font-size: 22px;
    font-weight: bold;
    line-height: 1.2;
    border-start-start-radius: 15px;
    border-end-end-radius: 15px;
    border: 1px solid rgba(0, 0, 0, 0.185);
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px !important;
}

.fav :hover {
  color: #e57eff;
}

.thumbs-up {
    
    color:  #ef32d9;
}

/* .thumbs-down {
    color: rgb(38, 64, 179) !important;
} */



  




  




